div {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
 }
 .footer p{
     color: crimson;
     font-size: 30px;
     font-weight: 700;
     font-family: "Microsoft Yahei";
 }
 .footer a{
     color: indianred;
     font-size: 25px; font-family: "Microsoft Yahei"; font-weight: 700;
     text-decoration: none;
 }
 .footer{
     width: 1400px;
 }
